<div class="row">
  <div class="col-xs-12 col-md-8 col-md-offset-2">
    <div class="form-group">
      <input class="form-control" type="text" placeholder="Type owner name..." (input)="onOwnerNameUpdate($event)">
    </div>
    <div class="form-group">
      <input class="form-control" type="text" placeholder="Type repository name..." (input)="onRepoNameUpdate($event)">
    </div>
    <button class="btn btn-primary" type="submit" (click)="searchRepositoryByOwner()">Query Repository</button>
    <button class="btn btn-primary" type="submit" (click)="searchIssuesByRepositoryName()">Query Issues</button>
  </div>
</div>

